<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Form | Sonu</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<body>
    <h1 class="fs-1 text-center">Admin Dashboard</h1>
<div class="container-fluid row flex p-5 justify-content-between">
<a href="/{{logout}}" class="btn btn-danger">Logout</a>
    {% for i in all_enteries.each()%}
    <div class="card mt-4 mx-2" style="width: 18rem;">
    <div class="container p-2">
        <h5 class="card-title fs-5">{{i.val()['email']}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{i.val()['name']}}</h6>
        <a href="response/{{i.key()}}" class="btn btn-primary">Details</a>
    </div>
    </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>

